 <div id="sidr">
      <ul>

        <li><a class="side-logo" href="index.html">Rv10<span class="logo-dot accent-bg"></span></a></li>

        <li class="active"><a href="#">Tu Tienda Online</a></li>
        <li><%= link_to 'Inicio', root_path %></li>
        <li><%= link_to 'Sobre Nosotros', about_path %></li>
        <li><%= link_to 'Tienda', products_path %></li>
         <li>
            <%= link_to new_contact_path do  %>
              <i class="fa fa-paper-plane"></i> Contact
            <% end %>
          </li>
        <li class="divider"><span></span></li>
        <li> <%=link_to 'Terms & conditions', root_path %></li>
        <li> <%=link_to 'Privacy', root_path %></li>
      </ul>

      <div class="side-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
    </div>

    <div class="nav-container">
      <nav class="navbar navbar-default">
        <div class="container" >
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navigation" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
          <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag "rv10.png", height: 30 %>
          <% end %>

    <!--         <a href="#sidr" class="side-menu-opener mobile">
              <div class="bars">
                    <span class="bar top"></span>
                    <span class="bar middle"></span>
                    <span class="bar bottom"></span>
                </div>
            </a> -->
          </div>


          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="collapse-navigation">
            <ul class="nav navbar-nav">

              <li><%= link_to 'Mujer', women_path %></li>
              <li><%= link_to 'Hombre', men_path %></li>
              <li><%= link_to 'Niños', kids_path %></li>
              <li><%= link_to 'Todos', products_path %></li>

              <li>
            <% if @cart.total_price > 0 %>
              <%= link_to @cart, class: 'menu-cart' do  %>
                <i class="fa fa-shopping-cart"></i>
                <%= number_to_currency_bo @cart.total_price %>
              <% end %>
            <% else %>
              <a href="#" class="menu-cart"><i class="fa fa-shopping-cart"></i> Bs.0.00</a>
            <% end %>
          </li>

            </ul>
  <!--           <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#sidr" class="side-menu-opener">
                  <div class="bars">
                        <span class="bar top"></span>
                        <span class="bar middle"></span>
                        <span class="bar bottom"></span>
                    </div>
                </a>
              </li> -->
            <!-- </ul> -->
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </div>
