<div class="container">
   <div class="navbar-wagon navbar-fixed-top">
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "rv10.png", height: 40 %>
      <% end %>
      <div class="navbar-wagon-item">
         <a class="navbar-wagon-item navbar-wagon-link"> <%= link_to 'Mujer', women_path %></a>
         <a class="navbar-wagon-item navbar-wagon-link"> <%= link_to 'Hombre', men_path %></a>
         <a class="navbar-wagon-item navbar-wagon-link"><%= link_to 'Niños', kids_path %></a>
         <a class="navbar-wagon-item navbar-wagon-link"><%= link_to 'Todos', products_path %></a>&nbsp;

         <% if @cart.total_price > 0 %>
         <%= link_to @cart, class: 'menu-cart' do  %>
         <i class="fa fa-shopping-cart"></i>
         <%= number_to_currency_bo @cart.total_price %>
         <% end %>
         <% else %>
         <a class="menu-cart"><i class="fa fa-shopping-cart" style="color:#ce1414 !important;"></i> <span style="color:#ce1414">Bs.0.00</span></a>
         <% end %>
</div>


      <div class="hidden-md hidden-lg">
         <div class="dropdown">
            <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
               &nbsp;
               <li><a class="navbar-wagon-item navbar-wagon-link"> <%= link_to 'Mujer', women_path %></a> </li>
               <li><a class="navbar-wagon-item navbar-wagon-link"> <%= link_to 'Hombre', men_path %></a> </li>
               <li><a class="navbar-wagon-item navbar-wagon-link"><%= link_to 'Niños', kids_path %></a></li>
               <li><a class="navbar-wagon-item navbar-wagon-link"><%= link_to 'Todos', products_path %></a></li>
               <hr>
               <li> <% if @cart.total_price > 0 %>
                  <%= link_to @cart, class: 'menu-cart' do  %>
                  <i class="fa fa-shopping-cart"></i>
                  <%= number_to_currency_bo @cart.total_price %>
                  <% end %>
                  <% else %>
                  <a class="menu-cart"><i class="fa fa-shopping-cart"></i> $0.00</a>
                  <% end %>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
</div>



<style>

.carrito{
display:flex;
justify-content:flex-end;
  }

.navbar-wagon {
  box-shadow: 0 1px 20px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: transparent !important;
  transition: all 0.3s ease;
  height: 52px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;

  a {
    font-weight: 400 !important;
  }
}


.navbar-fixed-top.scrolled {
  background-color: white !important;
  transition: background-color 200ms linear !important;

  a {
  color: black !important;
  font-weight: 200 !important;
}

}

.dropdown-toggle{
  font-size:15px;
  text-decoration: none !important;
  color: black;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: black;
  font-size: 10px !important;
}
.navbar-wagon-link:hover {
  text-decoration: none !important;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-right: -50px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  padding: 4px 44px;
  text-align: center;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-size: 15px !important;
  line-height: 10px !important;
  padding: 10px 20px;

    color: black !important;
    white-space: nowrap;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}




@media only screen and (max-width: 768px) {
  .navbar-wagon-brand img {
    height: 32px;
  }

  .navbar-wagon{
  background-color: white !important;
  }


}


@media only screen and (max-width: 768px) {
  .navbar-wagon-brand img {
    height: 32px;
  }
}



.dropdown-toggle{
  font-size:15px;
  text-decoration: none !important;
  color: dimgray;
}



/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 20px;
}
.navbar-wagon-link a:hover {
  text-decoration: none !important;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}

.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

 .navbar-wagon a {
    color: #a3a3a3 !important;
    font-weight: 400 !important;
    text-decoration: none;
    padding:10px;
}



@media only screen and (max-width: 768px) {
  .navbar-wagon a {
    font-weight: 400 !important;
}
  .messagetitle h2 {
    margin-top: 135px !important;

  }

}



/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
  .navbar-wagon-link{
    display: none !important;
  }

}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
.navbar-wagon-link{
    display: none;
  }

}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
.navbar-wagon-link{
    display: none;
  }
}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
.navbar-wagon-link{
  display:inline-block;
}
}

</style>
