<%= form_for @order do |f| %>
<%= render 'shared/msg' %>
<div class="container">
   <div class="col-md-10">
      <h3 class="text-center titles" style="font-weight:400;">Por favor, introduzca sus datos</h3>
      <br>
      <br>
   </div>
   <div class="form-group">
      <div class="col-md-10">
         <%= f.label :name, 'Nombre Completo' %>
         <%= f.text_field :name, size: 40, class: 'form-control' %>
      </div>
   </div>
   <div class="form-group">
      <div class="col-md-10">
         <%= f.label :email %>
         <%= f.email_field :email, size: 40, class: 'form-control' %>
      </div>
   </div>
   <div class="form-group">
      <div class="col-md-10">
         <%= f.label :phone, 'Telefono' %>
         <%= f.phone_field :phone, size: 40, class: 'form-control' %>
      </div>
   </div>
   <div class="form-group">
      <div class="col-md-10">
         <%= f.label :city, 'Ciudad' %>
         <%= f.text_field :city, size: 40, class: 'form-control' %>
      </div>
   </div>
   <div class="form-group">
      <div class="col-md-10" style="margin-bottom: 2%;">
         <%= f.label :address, 'Direccion' %>
         <%= f.text_area :address, cols: 35, class: 'form-control' %>
      </div>
   </div>
   <div class="form-group">
      <div class="col-md-10">
         <%= f.label :Notas, 'Notas Adicionales' %>
         <%= f.text_field :Notas, cols: 40, class: 'form-control' %>
      </div>
   </div>
   <div class="form-group">
      <div class="col-md-10">
         <%= f.label :Nit, 'CI/NIT' %>
         <%= f.text_field :Nit, cols: 40, class: 'form-control' %>
      </div>
   </div>
   <div class="form-group">
      <div class="col-md-11">
         <span class="checkbox inline">
         <%= f.check_box :terminos %>
         <%= f.label "Acepto Los Terminos & Condiciones" %>
         </span>
      </div>
   </div>
   <!-- Button trigger modal -->
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
   Terminos y Condiciones
   </button>
   <!-- Modal -->
   <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Terminos & Condiciones</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <%= render "shared/terminos" %>
            <br>
            <br>
            <br>
            <br>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
         </div>
      </div>
   </div>
</div>
</div>
<br>
<br>
<br>
<div class="form-group">
   <div class="col-md-10">
      <%= f.submit 'Comprar' %>
   </div>
</div>
</div>
<% end %>
