<%= render "shared/navbar" %>

<div id="confirmation-back">
  <p></p>
</div>

<div id="confirmation-holder">
<div class="container-fluid">
<h2 class="text-center">Tu Pedido ha sido Recibido</h2>
<h3 class="text-center">Numero de pedido: <%= @order.id %></h3>
<br>
<h3 class="text-center"><%= @order.name %>, Gracias por tu pedido! Te notificaremos pronto con mas informacion a tu email <%= @order.email %> y tu telefono <%= @order.phone %>. </h3>
<br>
<h4 class="text-center"> Cualquier consulta porfavor <a href="/contacts/new">contactanos. </a></h4>
<br>
<h4></h4>
</div>
</div>

<style>

@media screen and (max-width: 768px) {

  #confirmation-back{
    display: none;
  }

 #confirmation-holder{
    margin-top: -20px;
    width: 100%;
 }

 .radio label, .checkbox label {
    padding-top: 5.8%;
}
.btn.btn-primary {
    padding: 10px 5px;
}

.titles{
    font-size: 21px;
}
}


</style>

