<header class="secondary">
        <div class="background-image-holder parallax-background overlay" data-stellar-background-ratio="0.9">
          <%= image_tag('cover2.png', class: 'background-image', alt:'Background') %>
        </div>

        <div class="container align-vertical hero">
          <div class="row">
            <div class="col-md-5 text-left">
              <h1>Our Shop</h1>
              <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </header>


<section class="product-list">
        <div class="container">
          <% @products.each do |product| %>
          <div class="row">
            <div class="col-md-12">
              <div class="product">
                <div class="row">
                  <div class="col-md-6 col-xs-12">
                    <div class="thumbnail">
                       <%= cl_image_tag product.photo %>
                    </div>
                  </div>
                  <div class="col-md-5 col-md-offset-1">
                    <div class="product-details">
                      <h2 class="product-title"> <a href=""><%= link_to product.title, @product_id %></h2>
                      <p class="product-price"><%= number_to_currency product.price %></p>
                      <p><%= product.description %></p>
                      <p><%= product.size %></p>



                      <p><%= check_box_tag product.size%></p>
                      <p><%= label_tag("S") %></p>

                     <!--  <p><%= check_box_tag product.size2%></p>
                      <p><%= label_tag("XS") %></p> -->

                     <!--  # create form to choose from product sizes. directly. :xs :s :l
                      color same. -->


                        <!-- <td><#%= link_to 'Show', product_items_path %></td> -->

                      <%= button_to product_items_path(product_id: product.id), class: 'btn btn-default' do %>
                      <i class="fa fa-shopping-cart"></i> Add to cart
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /.row -->
          <% end %>
        </div>
      </section>


    <div class="no-padding-top section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <a href="#" class="load-more"><i class="fa fa-ellipsis-h"></i></a>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div>
