<form class="contact-form">

<%= form_for @contact do |f| %>
<% render 'shared/contact_errors' %>

<form class="contact-form">
 <div>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-name validate', placeholder: 'Brad Pitt' %>
 </div>

  <div>
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-email validate validate-email', placeholder: 'Brad@gmail.com' %>
 </div>

  <div>
  <%= f.label :message %>
  <%= f.text_area :message, class: 'form-message validate', placeholder: 'Tu Mensaje' %>
 </div>

 <div>
  <%= f.submit 'Enviar' %>
 </div>

</form>

<% end %>
