<% @cart.product_items.each do|item| %>
   <ul>
    <li>
     <%= item.quantity %>&times;<%= item.product.title %> =
     <%= number_to_currency item.total_price %> - <%=item.size.name %>.

      <li>
        <%= link_to "Add one", product_items_add_path(item.id), method: :post %>
       </li>

       <li>
        <%= link_to "Reduce one", product_items_reduce_path(item.id), method: :post %>
      </li>

       <li>
         <%= link_to 'Delete', item, method: :delete, data: { confirm: 'You sure?' } %>
      </li>

    </li>
   </ul>

<% end %>

