<% @cart.product_items.each do|item| %>
       <ul>
        <li>
         <%= item.quantity %>&times;<%= item.product.title %> =
         <%= number_to_currency item.total_price %> -

         <%= link_to 'Delete', @product_items, method: :delete, data: {confirm: 'You sure?'} %>

         <%= link_to 'Edit',  edit_product_item_path, method: :get %>
        </li>
       </ul>

  <% end %>

