<% @cart.product_items.each do|item| %>
       <ul>
        <li>
         <%= item.quantity %>&times;<%= item.product.title %> =
         <%= number_to_currency item.total_price %>,
         <%= item.product.size %>, <%= item.product.size2 %>
        </li>

        <li>
         <%= item.product.title %>, <%= item.product.size %>, <%= item.product.size2 %>
        </li>
       </ul>
  <% end %>
