<!-- To avoid "moving items" (default sort order in Rails.) -->
<% @sorted_items = @cart.product_items.order(:product_id, :size_id) %>
<% @sorted_items.each do|item| %>
<hr>
   <ul>


     <div class="carritoimg">
     <%= link_to 'x', item, method: :delete, data: { confirm: 'You sure?' } %>
     &nbsp;&nbsp;&nbsp;&nbsp;
     <%= cl_image_tag item.product.photo %>&nbsp;&nbsp;
     <%= item.quantity %>&nbsp;<b><%= item.product.title %></b> =&nbsp;&nbsp;
     <%= number_to_currency item.total_price %> - &nbsp;<%=item.size.name %>&nbsp;&nbsp;&nbsp;

     <%= link_to "Agregar (+)", product_items_add_path(item.id), method: :post %>&nbsp;&nbsp;
     <%= link_to "Disminuir (-)", product_items_reduce_path(item.id), method: :post %>
     </div>


   </ul>
   <hr>

<% end %>


