<% @cart.product_items.each do|item| %>
   <ul>
    <li>
     <%= item.quantity %>&times;<%= item.product.title %> =
     <%= number_to_currency item.total_price %> - <%=item.product.size %>.

     <%= link_to 'Delete', item, method: :delete, data: {confirm: 'You sure?'} %>

    </li>
   </ul>

<% end %>
