
<% @sorted_items = @cart.product_items.order(:product_id, :size_id) %>
<% @sorted_items.each do|item| %>

   <ul class="carritoimgspan">
<hr>
     <div class="carritoimg">
     <span><%= link_to 'x', item, method: :delete, data: { confirm: 'You sure?' } %></span>
     &nbsp;&nbsp;&nbsp;
     <span><%= cl_image_tag item.product.photo %></span>&nbsp;&nbsp;
     <span><%= item.quantity %>&nbsp;<b><%= item.product.title %></b></span> =&nbsp;&nbsp;
     <span><%= number_to_currency_bo item.total_price %> - &nbsp;<%=item.size.name %></span>&nbsp;&nbsp;&nbsp;

     <span><%= link_to "Agregar", product_items_add_path(item.id), method: :post %>&nbsp;<i class="fas fa-plus-circle" style="color:#c11111;"></i></span>&nbsp;&nbsp;

     <span><%= link_to "Disminuir", product_items_reduce_path(item.id), method: :post %>&nbsp;<i class="fas fa-minus-circle" style="color:#c11111;"></span></i>
     </div>
   </ul>

<% end %>
<br>
<br>



