<%= render "shared/navbar" %>
<div class="container-fluid bannercarrito" style="height: 500%; background-color: black;">
</div>


<section class="product-list" style="padding-top: 5% !important;">
  <div class="container">
    <div class="col-md-12 text-center" style="padding-top: -40px !important;">
      <h2 style="font-weight:500; margin-top:1%;">Mi Carrito</h2>
      <hr>
      <h3 style="font-weight:400;">Detalles de tu compra</h3>
      <br>
      <%= render 'carts/cart' %>
      <i class="fas fa-trash-alt" style="color:#c11111;"></i> <%= link_to 'Vacía tu carrito', @cart, method: :delete, data: {confirm: 'You sure?'} %>
       <br>
       <br>

     </div>

     <br>
     <br>
      <h4><b>Total:</b> <%= number_to_currency_bo @cart.total_price %></h4>
      <br>
      <br>
      <br>
      <h4><b>COMPRAR</b></h4>
      <h4>Elije como quieres Comprar</h4>
       <br>
      <i>Haz clic en Contra-entrega para pagar en effectivo y en Transferencia para hacer una transferencia bancaria.</i>
      <br>
      <br>
      <%= button_to 'Transferencia', new_transfer_path, method: :get %>
      <br>
      <br>
      * <i>Los pagos contra-entrega solo son disponibles en</i> <b>SANTA CRUZ DE LA SIERRA</b>.
      <br>
      <br>
      <%= button_to 'Contra-entrega', new_order_path, method: :get %>
      <br>
      <%= link_to 'De vuelta a la tienda', products_path %>
      <br>
    </div>
  </div>
</section>

<style>
.cartfun{
  font-weight: 400;
  text-align: center;
}
  </style>

