<%= render "shared/header" %>
<header class="">
  <div class="container align-vertical hero">
    <div class="row">
      <div class="col-md-5 text-left" style="margin-top:20px;">
        <h1 style="color: #a80f0f;">Mi Carrito</h1>
        <hr>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</header>

<section class="product-list" style="padding-top: 5px !important;">
  <div class="container">
    <div class="col-md-12" style="padding-top: -40px !important;">
      <h3 style="font-weight:400;">Detalles de tu compra</h3>
      <br>
      <%= render 'carts/cart' %>
      <%= link_to 'Vacía tu carrito', @cart, method: :delete, data: {confirm: 'You sure?'} %>
       <br>
       <br>
      <h4><b>Total:</b> <%= number_to_currency_bo @cart.total_price %></h4>
      <br>
      <br>
      <br>
      <h4><b>COMPRAR</b></h4>
      <h4>Elije como quieres Comprar</h4>
       <br>
      <i>Haz clic en Contra-entrega para pagar en effectivo y en Transferencia para hacer una transferencia bancaria.</i>
      <br>
      <br>
      <%= button_to 'Transferencia', new_transfer_path, method: :get %>
      <br>
      <br>
      * <i>Los pagos contra-entrega solo son disponibles en</i> <b>SANTA CRUZ DE LA SIERRA</b>.
      <br>
      <br>
      <%= button_to 'Contra-entrega', new_order_path, method: :get %>
      <br>
      <%= link_to 'De vuelta a la tienda', products_path %>
      <br>
    </div>
  </div>
</section>
