<%= render "shared/navbar" %>

<div id="confirmation-back">
  <p></p>
</div>

<div id="confirmation-holder">
<div class="container-fluid">
<h2 class="text-center">Thank you for your order</h2>
<h3 class="text-center">Numero de pedido: <%= @order.id %></h3>
<br>
<h3 class="text-center"><%= @transfer.name %>, Gracias por tu pedido! Te notificaremos pronto con mas informacion a tu email <%= @transfer.email %> y tu telefono <%= @transfer.phone %>. </h3>
<br>

<p>rv10.com.bo acepta pagos mediante transferencias bancarias. Utiliza la siguiente información:<p>

<p>Nombre de la entidad Bancaria: ----- </p>
<p> Titular de la cuenta: ------ </p>
<p> Tipo de cuenta: Cuenta corriente en Bolivianos </p>
<p> Número de cuenta: -------------- </p>
<p> Código Swift: -------- </p>
<p>Referencia: Nombre y Número de Pedido</p>
<p>Asegúrate de que tu Número de Pedido esté incluido en la transferencia. Tu Número de Referencia es el Número de Pedido obtenido al momento de realizar la compra. Si deseas agilizar la tramitación de tu pedido, envíanos el comprobante de la transferencia al correo electrónico -------- </p>

<p>rv10.com.bo debe recibir tu pago dentro de los 3 días calendarios siguientes a tu compra, o tu pedido será cancelado..</p>

<h4 class="text-center"> Cualquier consulta porfavor <a href="/contacts/new">contactanos. </a></h4>
<br>
<h4></h4>
</div>
</div>
