<%= render "shared/navbar" %>

<div id="confirmation-back">
  <p></p>
</div>

<div id="confirmation-holder">
<div class="container-fluid">
<h2 class="text-center"><%= @transfer.name %>, Gracias por tu pedido!</h2>
<h3 class="text-center">Numero de pedido: <%= @transfer.id %></h3>
<br>
<h3 class="text-center"> Una vez recibida tu transferencia, te notificaremos con mas información a tu email <%= @transfer.email %> y a tu teléfono <%= @transfer.phone %> mediante whatsapp. </h3>
<br>
<br>
<p>Para pagos mediante transferencias bancarias. Utilize la siguiente información:<p>
<hr>
<b><p>Asegúrate de que tu Número de Pedido esté incluido en la transferencia. Tu Número de Referencia es el Número de Pedido obtenido al momento de realizar la compra. Si deseas agilizar la tramitación de tu pedido, envíanos el comprobante de la transferencia al correo electrónico -------- </p></b>
<hr>
<b><p>Nombre de la entidad Bancaria:</b> BANCO FASSIL </p>
<b><p> Titular de la cuenta:</b> Rodrigo Vaca Diez </p>
<b><p> Tipo de cuenta:</b> Caja de ahorros </p>
<b><p> Número de cuenta:</b> 3417701 </p>
<b><p>Referencia:</b> Nombre y Número de Pedido</p>
<br>
<b><p>Nombre de la entidad Bancaria:</b> BANCO GANADERO </p>
<b><p> Titular de la cuenta:</b> Elizabeth Weidling </p>
<b><p> Tipo de cuenta:</b> Caja de ahorros </p>
<b><p> Número de cuenta:</b> 1051617826 </p>
<b><p>Referencia:</b> Nombre y Número de Pedido</p>
<br>
<br>
<p>Rv10 debe recibir tu pago dentro de los 3 días siguientes a tu compra, o tu pedido será cancelado.</p>
<br>
<h4 class="text-center"><b>Cualquier consulta porfavor <a href="/contacts/new">contactanos.</a></b></h4>
<br>
<h4></h4>
</div>
</div>


<style>

@media screen and (max-width: 768px) {

  #confirmation-back{
    display: none;
  }

 #confirmation-holder{
    margin-top: -20px;
    width: 100%;
 }

 .radio label, .checkbox label {
    padding-top: 5.8%;
}
.btn.btn-primary {
    padding: 10px 5px;
}

.titles{
    font-size: 21px;
}
}


</style>
