<%= render "shared/header" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Display in navbar:</strong>
  <%= @category.display_in_men %>
</p>

<p>
  <strong>Display in Women:</strong>
  <%= @category.display_in_women %>
</p>

<p>
  <strong>Display in Kids:</strong>
  <%= @category.display_in_kids %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
