<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    Titulo del producto
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :title %>
    Descripcion del producto
    <%= f.input :description %>
    Precio
    <%= f.input :price %>


    Genero
    <%= f.input :subcategory, as: :hidden %>
    <%= f.select :subcategory_picker, Product.subcategories %>
    <button type="button" onclick="newSubcategory()">Nueva Categoria</button>
    <br>

    Codigo de Promo
    <%= f.input :promo %>
    Codigo de producto
    <%= f.input :codigo %>

		Color
		<%= f.input :color, as: :hidden %>
		<%= f.select :color_picker, Product.colors %>
		<button type="button" onclick="newColor()">Nuevo Color</button>
    <br>
    Foto principal
    <br>
    Categoria del producto
    <br>
    <%= f.select :category, Category.all.map{ |f| [f.name, f.id] } %>
  </div>
  <br>
  <hr>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

	<script>

		(function(){
			$("#product_color_picker").on("change", function() { setColor(); });
			$("#product_subcategory_picker").on("change", function() { setSubcategory(); });
		})();

		function setColor() {
			const color = $("#product_color_picker option:selected").val()
			if (color)
				$("#product_color").val(color);
			else
				console.log("No color");
		}

		function newColor() {
			let color = prompt("Ingresa el nuevo color:");
			if (color) {
				$("#product_color").val(color);
				const $cp = $("#product_color_picker");
				$cp.append($('<option>', {
						text: color
				}));
				$cp.val(color);
			}
		}

        function setSubcategory() {
      const subcategory = $("#product_subcategory_picker option:selected").val()
      if (subcategory)
        $("#product_subcategory").val(subcategory);
    }

    function newSubcategory() {
      let subcategory = prompt("Ingresa la nueva Sub-Categoria:");
      if (subcategory) {
        $("#product_subcategory").val(subcategory);
        const $cp = $("#product_subcategory_picker");
        $cp.append($('<option>', {
            text: subcategory
        }));
        $cp.val(subcategory);
      }
    }
	</script>


<br>

