<%= render "shared/navbar" %>

<div class="container searchingresponsive2">
  <p class="text-center titlesearcher"> </p>
  <%= form_tag perform_products_search_path,
  method: :get, style:"" do %>
      <%= text_field_tag "term", nil,
        style:"",
        placeholder: "Buscar...",
        autofocus: "",
        style: "" %>
      <%= submit_tag "Buscar", style:"float:right; margin-right: 20px;" %>
    <% end %>
</div>

<div class="container-fluid searching">
  <%= form_tag perform_products_search_path,
  method: :get, style:"width:600px;margin-top:30px;" do %>
      <%= text_field_tag "term", nil,
        style: "float:left",
        placeholder: "Busca el producto que tengas en mente...",
        autofocus: "",
        style: "width:500px;" %>

      <%= submit_tag "Buscar", style:"float:right;width:95px;" %>
    <% end %>
</div>

<div class="container question" style="padding-bottom: 2% !important;">
  <div class="caption-content text-center">
    <div style="text-align:left;font-size:20px;">
      <% if @suggestions.any? %>
      <div style="min-height:400px;padding-top:40px;">
        <b>Quisiste decir...?</b>
        <% @suggestions.each do |term| %>
          <div><%= link_to(term, "/search_results?term=#{term}") %></div>
        <% end %>
      </div>
      <% else %>
      <div class="results" style="min-height:400px;">
        <b>No hay resultados para "<%= @term %>".
      </div>
      <% end %>
    </div>
  </div>
</div>


<style>

  .results{
    padding-top: -30px;
  }

  .searching{
   margin-top: 5%;
   margin-bottom: 10%;
   margin-left: 25%;
  }
  .question{
   margin-top: -10%;
  }

  .searchingresponsive{
    display: none;
  }

  input#term{
  width: 60% !important;
  margin-left: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #ad2c10 !important;
}

input[type="submit"]{
width: 40% !important;
height: 48px;
background-color: #AD2C10;
border-radius: 10px;
}


  .searchresulttwo{
   display:none;
  }
  .searchingresponsive2{
    display:none;
  }

  .searchresult img{
    height:100px;
  }


    @media screen and (max-width: 768px) {

      .searchingresponsive2{
        display:initial;
      }

      .searchresulttwo{
        display:inline;
      }
      .results{
       padding-top:40px;
       }

      .searchresult{
        display:none;
      }
      .searchingresponsive2 form{
        margin-bottom: -15% !important;
        margin-top: 10%;
      }
      .searching{
        display: none;
      }

      .titlesearcher2{
        margin-top: 10%;
        font-weight: 400;
        color: #ad2c10;
      }

      .buttons{
        margin: 0%;
      }

      input#term{
  width: 53% !important;
  margin-left: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #ad2c10 !important;
}

input[type="submit"]{
width: 35% !important;
height: 48px;
background-color: #AD2C10;
border-radius: 10px;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 15px;
  color: gray;
}
  }


</style>
