<%= render "shared/navbar" %>

      <div class="container-fluid indexbanner">
        <%= image_tag "tester1.png" %>
       </div>
     </div>


<div class="container-fluid" style="margin-top:4%;">

<div class="wrap">

<div class="left">

<div class="categories" style="display:inline-block;">

<b class="titulos">Buscar por Codigo:</b> <br>
<br>
<%= form_tag products_path, :method => 'get' do %>
<%= text_field_tag :search, params[:search] %>
<% end %>

&nbsp;<a href="/search"><i class="fab fa-searchengin"></i></i>&nbsp;Busqueda Avanzada</a>
<br>
<br>

<b class="titulos">Todas Las Categorias</b> <br>
<%= link_to 'Todas las categorias', products_path %><br>
<% Category.all.each do |cat| %>
<%= link_to cat.name, products_path(category: cat.name) %>
<br>
<% end %>

<br>

<b class="titulos">MUJERES</b> <br>
<% Category.where(display_in_women: true).each do |cat| %>
<%= link_to cat.name, products_path(category: cat.name)%>
<br>
<% end %>

<br>

<b class="titulos">HOMBRES</b> <br>
<% Category.where(display_in_men: true).each do |cat| %>
<%= link_to cat.name, products_path(category: cat.name)%>
<br>
<% end %>

<br>

<b class="titulos">KIDS</b> <br>
<% Category.where(display_in_kids: true).each do |cat| %>
<%= link_to cat.name, products_path(category: cat.name)%>
<br>
<% end %>

</div>

<br>
<br>
<br>
<br>

</div>


<h4 class="titulo"><b>TODOS LOS PRODUCTOS</b></h4>
<div class="searcher">
</div>

<br>


<%= render "shared/filters" %>

 &nbsp;<%= link_to products_clear_filters_path("all") do %>
  <i class="fas fa-backspace filternormal"></i>
<% end %>


<!-- mobile display filter clean -->
<div class="filterdisplay">
  &nbsp;<%= link_to 'Limpiar filtro', products_clear_filters_path("all") %>
</div>


<%== pagy_nav(@pagy) %>&nbsp;&nbsp;
<div class="quantityproducts">Productos ( <%= @products.count %> )
</div>
<hr>

    <div class="row">


  <% @products.each do |product| %>
        <div class="col-md-3">

            <div class="product-grid2">
                <div class="product-image2" style="height: 442px;">
                    <a href=""><%= cl_image_tag product.photo %></a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#"><%= link_to product.title, product %></a></h3>

                       <% if product.sale_price == 0 %>
                    <p style="font-size:12px;"><%= number_to_currency_bo product.price %></p>
                    <% else %>
                    <p style="display: inline-block; font-size: 12px;"><i style="text-decoration: line-through;"><%= number_to_currency_bo product.sale_price %></i>&nbsp;&nbsp;<b style="font-weight: 600;"><%= number_to_currency_bo product.price %></b></p>
                     <% end %>
                </div>
            </div>
        </div>
   <% end %>
</div>
</div>
</div>
</div>

<div class="text-center pagyy">
<%== pagy_nav(@pagy) %>
</div>
   <hr>
 </div>
</div>


<%= render "shared/update_filters" %>


<style>
  input[type="text"], input[type="email"] {
    height: 50px;
    border-radius: 10px;
    border-color: #1a1a1a;
    height: 47px;
    width: 160px;
    }
</style>
