<%= render "shared/header" %>

      <div class="container-fluid" style="padding-bottom: 2% !important; margin-top:2%;">
        <%= image_tag "aqua3.png" %>
       </div>
     </div>


<div class="container-fluid" style="margin-top:5%; ">

<div class="wrap">


<div class="left">
<!-- Navbar for categories -->
<div class="categories" style="display:inline-block;">

<b class="titulos">Buscar por Codigo:</b> <br>
<br>
<%= form_tag products_path, :method => 'get' do %>
<%= text_field_tag :search, params[:search] %>
<% end %>


<b class="titulos">Todas Las Categorias</b> <br>
<%= link_to 'Todas las categorias', products_path %><br>
<% Category.all.each do |cat| %>
<%= link_to cat.name, products_path(category: cat.name) %>
<br>
<% end %>
<!-- end -->
<br>

<b class="titulos">MUJERES</b> <br>
<% Category.where(display_in_women: true).each do |cat| %>
<%= link_to cat.name, products_path(category: cat.name)%>
<br>
<% end %>

<br>

<b class="titulos">HOMBRES</b> <br>
<% Category.where(display_in_men: true).each do |cat| %>
<%= link_to cat.name, products_path(category: cat.name)%>
<br>
<% end %>

<br>

<b class="titulos">KIDS</b> <br>
<% Category.where(display_in_kids: true).each do |cat| %>
<%= link_to cat.name, products_path(category: cat.name)%>
<br>
<% end %>

</div>

<br>
<br>
<br>
<br>

</div><!-- close left -->


<h4 class="titulo"><b>TODOS LOS PRODUCTOS</b></h4>
<div class="searcher">
<!--   <h5>La mejor version de ti mismo. Moda boliviana inspirada en gente activa.</h5> -->
</div>

<br>
<!-- productos -->
<%== pagy_nav(@pagy) %>&nbsp;&nbsp;
<div class="quantityproducts">Productos ( <%= @products.count %> )
</div>
<hr>

    <div class="row">

  <% @products.each do |product| %>
        <div class="col-md-3">

            <div class="product-grid2">
                <div class="product-image2">
                    <a><%= cl_image_tag product.photo %></a>
                    <ul class="social">
                    <!--     <li><a href="#" data-tip="Vista Rapida"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Carrito"><i class="fa fa-shopping-cart"></i></a></li> -->
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#"><%= link_to product.title, product %></a></h3>

                       <% if product.sale_price == 0 %>
                    <p style="font-size:12px;"><%= number_to_currency_bo product.price %></p>
                    <% else %>
                    <p style="display: inline-block; font-size: 12px;"><i style="text-decoration: line-through;"><%= number_to_currency_bo product.sale_price %></i>&nbsp;&nbsp;<b style="font-weight: 600;"><%= number_to_currency_bo product.price %></b></p>
                     <% end %>
                </div>
            </div>
        </div>
   <% end %>
</div>
</div>
</div>
</div>
<div class="text-center">
<%== pagy_nav(@pagy) %>
</div>
   <hr>
 </div>
</div>

<!-- end productos -->






<style>

  @media screen and (max-width: 768px) {
  .left{
    display:none;
  }

  .wrap{
    margin-bottom: 40%;
    height:auto !important;
  }

  .product-grid2 .product-image2 img {
    width: 100%;
    height: auto;
}

.text-center{
  margin-top: 37px;
}

.pagination {
    display: inline-block;
    padding-left: 32%;
}
}

.titulos {
font-weight: 500;
    letter-spacing: 0px;
}
</style>


