
<section class="product-list">
        <div class="container">
          <% @product.each do |product| %>
          <div class="row">
            <div class="col-md-12">
              <div class="product">
                <div class="row">
                  <div class="col-md-6 col-xs-12">
                    <div class="thumbnail">
                       <%= cl_image_tag product.photo %>
                    </div>
                  </div>
                  <div class="col-md-5 col-md-offset-1">
                    <div class="product-details">
                      <h2 class="product-title"> <a href=""><%= link_to product.title, product %></h2>
                      <p class="product-price"><%= number_to_currency product.price %></p>
                      <p> <%= product.size %> </p>

                      <!-- Size testing -->


                     <select name="product_items[][:quantity]" id="product-item-quantity"><option value="0">0</option>
                       <option selected="selected" value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                       <option value="1">4</option>
                       <option value="5">5</option>
                       <option value="6">6</option>
                       <option value="7">7</option>
                       <option value="8">8</option>
                       <option value="9">9</option></select>


                      <select name="product_items[][:quantity]" id="product-item-quantity"><option value=""></option>
                       <option selected="selected" value="1">XS</option>
                       <option value="3">S</option>
                       <option value="1">M</option>
                       <option value="5">L</option>
                       <option value="6">XL</option></select>


                      <!-- end -->

                      <%= render 'products/form' %>
                      <%= button_to product_items_path(product_id: product.id), class: 'btn btn-default' do %>
                      <i class="fa fa-shopping-cart"></i> Add to cart
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /.row -->
          <% end %>
        </div>
      </section>

