<%= render "shared/navbar" %>

<div class="container-fluid searching">
  <%= form_tag perform_products_search_path,
  method: :get, style:"width:600px;margin-top:30px;" do %>
      <%= text_field_tag "term", nil,
        style: "float:left",
        placeholder: "Busca el producto que tengas en mente...",
        autofocus: "",
        style: "width:500px;" %>

      <%= submit_tag "Buscar", style:"float:right;width:95px;" %>
    <% end %>
</div>


<div class="container-fluid text-center searchresult" style="min-height:500px;background-color: #ebebeb; padding-bottom: 2% !important;">
  <% if @results.any? %>
    <table style="margin:20px;margin-left:100px;;">
      <% @results.each do |r| %>
        <tr>
          <td class="iconing searchimage" style='padding-right:20px; padding-bottom:10px;'> <%= cl_image_tag r.photo %> </td>
          <td style='padding-right:20px'> <%= link_to r.title, product_path(r.id) %> </td>
          <td style='padding-right:20px'> <%= r.description %> </td>
          <td style='padding-right:20px'> <%= number_to_currency_bo r.price %> </td>
        </tr>
        <br>
      <% end %>
    </table>
  <% else %>
    No hay resultados :( <br/>
    TODO: Sugerir correcciones en los terminos de busqueda, alla' Google.
  <% end %>
</div>





<!-- responsive part -->

<div class="container-fluid text-center searchresulttwo" style="min-height:500px;background-color: #ebebeb;">
  <% if @results.any? %>
    <table style="margin:20px;margin-left:100px;;">
      <% @results.each do |r| %>
        <tr>
          <td class="iconing searchimage" style='padding-right:20px; padding-bottom:10px;'> <%= cl_image_tag r.photo %> </td>
          <td style='padding-right:20px'> <%= link_to r.title, product_path(r.id) %> </td>
         <!--  <td style='padding-right:20px'> <%= r.description %> </td> -->
          <td style='padding-right:20px'> <%= number_to_currency_bo r.price %> </td>
        </tr>
        <br>
      <% end %>
    </table>
  <% else %>
    No hay resultados :( <br/>
    TODO: Sugerir correcciones en los terminos de busqueda, alla' Google.
  <% end %>
</div>



<style>

  .searchresulttwo{

  }

  .searchresult{
    display: none;
  }


 .searchingresponsive{
   display:none;
  }

    @media screen and (max-width: 768px) {
.searchingresponsive{
  display:initial;
  }

  .searchimage{
    display: none;
  }

.searchresulttwo {
    margin-left: -12px;
    line-height: 24px;
    margin-top: -13px;
}

  .searching{
    display: none;
  }

input#term{
  width: 318px !important;
   margin-left: 20px;
}

input[type="submit"]{
width: 350px !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
  color: gray;
}
  }







input#term{
  padding-left: 20px;
  border-radius: 20px;
}

.searching{
    background-color: #ebebeb;
    padding-left: 27%;
    margin-bottom: -5%;
    padding-top: 2%;
  }

.searchimage img{
height: 100px;
}



</style>
