<%= render "shared/navbar" %>

<div class="container searching ">
    <p class="text-center titlesearcher"> ¿Queres encontrar algo más específico? </p>
  <%= form_tag perform_products_search_path,
  method: :get, style:"" do %>
      <%= text_field_tag "term", nil,
        style: "float:left",
        placeholder: "Busca el producto que tengas en mente...",
        autofocus: "",
        style: "" %>
      <%= submit_tag "Buscar", style:"float:right; margin-right: 15%;" %>
    <% end %>
</div>


<div class="container searchingresponsive">
  <p class="text-center titlesearcher"> ¿Queres encontrar algo más específico? </p>
  <%= form_tag perform_products_search_path,
  method: :get, style:"" do %>
      <%= text_field_tag "term", nil,
        style:"",
        placeholder: "Buscar...",
        autofocus: "",
        style: "" %>
      <%= submit_tag "Buscar", style:"float:right; margin-right: 10px;" %>
    <% end %>
</div>





<style>
   .titlesearcher{
        margin-bottom: 5%;
        font-weight: 400;
        color: #ad2c10;
      }

  .searching{
   margin-top: 5%;
   margin-bottom: 10%;
  }


  .searchingresponsive{
    display: none;
    margin-bottom: 70% !important;
    margin-top: 10%;
  }

    input#term{
  width: 60% !important;
  margin-left: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #ad2c10 !important;
}

input[type="submit"]{
width: 40% !important;
height: 48px;
background-color: #AD2C10;
border-radius: 10px;
}



    @media screen and (max-width: 768px) {

      .searchingresponsive{
        display:initial;
      }
      .searchingresponsive form{
        margin-bottom: 70% !important;
        margin-top: 10%;
      }
      .searching{
        display: none;
      }

      .titlesearcher{
        margin-top: 28%;
        font-weight: 400;
        color: #ad2c10;
      }

      .buttons{
        margin: 0%;
      }

  input#term{
  width: 53% !important;
  margin-left: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #ad2c10 !important;
}

input[type="submit"]{
width: 35% !important;
height: 48px;
background-color: #AD2C10;
border-radius: 10px;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 15px;
  color: gray;
}
  }

    }
</style>
