<%= render "shared/header" %>
<div class="wrapper">
   <div class="main zoomImg">
      <% cache do %>
      <%= cl_image_tag @product.photo %>
      <% @product.photos.each do |photo| %>
      <a style=" height: 200px; width: 98%;
         "> <%= cl_image_tag photo.photo %></a>
      </a>
      <% end %>
      <% end %>
   </div>


   <div class="sidebar text-center">
      <h1><%= @product.title %></h1>
      <p class="titulo" style="font-size:12px;">Codigo:<%= @product.codigo %></p>
      <p class="titulo" style="font-size:12px;">Color: Negro<%= @product.color %></p>
      <% if @product.sale_price == 0 %>
      <p class="titulo2" style="font-size:14px"><%= number_to_currency_bo @product.price %></p>
      <% else %>
      <span>
      <p class="titulo2" style="font-size:14px; text-decoration: line-through; display: inline-block;"><%= number_to_currency_bo @product.sale_price %></p><p class="titulo2" style="font-size:14px; color: #ce1414; display: inline-block;">&nbsp;&nbsp;<%= number_to_currency_bo @product.price %></p>
      </span>
      <% end %>
   <hr>

    <%= label_tag :size_id, 'Seleciona tu talle' %>
     <%= form_tag product_items_path(product_id: @product.id) do %>
    <%= select_tag :size_id,
        options_for_select(Size.options_for(@product.id), @product.size),
        prompt: "Seleciona tu talle" %>

      <br>


      <button class="btn btn-danger ">
      <i class="fa fa-shopping-cart"></i>
      Añadir al carrito
      </button>
      <br>
      <hr>

 <div class="text-left">
  <div class='toggle'>
  <div class='tabs'>
    <div class='tab active'>Descripcion</div>
    <div class='tab'>Composicion</div>
    <div class='tab'>Cuidados</div>
  </div>
  <div class='panels1'>
    <div class='panel1'><%= @product.description %></div>
    <div class='panel1'>60% Algodón 37% Poliester 3% Spdx</div>
    <div class='panel1'> Limpieza a seco </div>
  </div>
</div>
</div>
      <%end%>

<div class="other-details postop20">
<a class="col-md-3 col-xs-6 text-center" href="#">
<img src="https://markova.com/assets/markova/regla-4a198cbdfab84333ffe2843d043fce03f7ece104770562f4cf33c17b45d086f0.svg">
</a>
<a class="col-md-3 col-xs-6 text-center"href="#">
<img src="https://markova.com/assets/markova/credit-cards-b94c6ea938631307ed599abf12f8c23eba6086c135f8e391f1e5669d28a922d2.svg">
</a>
<a class="col-md-3 col-xs-6 text-center" href="#">
<img src="https://markova.com/assets/markova/send-car-828f951f1eb838d484bc3136c50142d49180d37e6542243ce6a463017046887b.svg">
</a>
<a class="col-md-3 col-xs-6 text-center" href=""><img src="https://markova.com/assets/markova/help_item-0cdef919c8260efbdf06acaf4d306fa202f93639366d1b6f9664102a08b42145.svg"></a>

</div>
   </div>
</div>

</div>







<style>

.wrapper {
  display: flex;
  justify-content: space-between;
}

.main,
.sidebar {
/*  border: 3px solid black;*/
  background-color: #fff;
}

.main {
  width: 60%;
}

.sidebar {
  width: 40%;
  height: 100vh;
  padding: 5%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ebebeb;
}

.toggle {
  font-family: arial, sans-serif;
}
.toggle .tabs {
  width: 100%;
  overflow: hidden;
  height: 36px;
  line-height: 36px;
}
.toggle .tabs .tab {
  border-bottom: 0.5px solid lightgrey;
  float: left;
  align-items: center;
  color: black;
  height: 31px;
  margin: 2px 8px 0px;
  padding: 0 10px;
  padding-left: 15px;
  cursor: pointer;

}
.toggle .tabs .tab.active {
  color: #ce1414;
  border-bottom: 3px solid #ce1414;
}
.toggle .panels1 .panel1 {
  padding: 20px 10px;
  display: none;
  font-weight: lighter;
  font-size: 12px !important;
}
.toggle .panels1 .panel1:first-child {
  display: block;
}

.description{
  align-items: center;
}
 p{
  font-size: 10px;
}

</style>

