
 <div class="thumbnail">
 <%= cl_image_tag @product.photo %>
 </div>
<p><%= @product.title %></p>
<p><%= @product.size %></p>
<p><%= @product.description %></p>
<p><%= @product.size %></p>

<%= render 'shared/header' %>


