
<div class="wrapper">
  <div class="main">
      <%= cl_image_tag @product.photo %>
      <% @product.photos.each do |photo| %>
   <a style=" height: 200px; width: 98%;
      "> <%= cl_image_tag photo.photo %></a>
   </a>
   <% end %>
  </div>

  <div class="sidebar">
             <h1><%= @product.title %></h1>
         <p class="titulo" style="font-size:15px;">Codigo: Co012324 </p>
         <hr>
         <p><%= @product.size %></p>
         <p class="titulo2" style="font-size:16px;"><%= number_to_currency_bo @product.price %></p>
         <p class="titulo" style="font-size:16px;"><b class="titulo2" style="font-size:16px;">Detalles del producto: </b><%= @product.description %></p>
         <hr>
            <%= label :size_id, 'Seleciona tu talle' %>
            <%= form_tag product_items_path(product_id: @product.id) do %>
            <%= select_tag :size_id,
               options_for_select(
                 sizes_for(@product.id)),
               prompt: "Seleciona tu talle"
               %>
            <br>
            <button class="btn btn-danger ">
            <i class="fa fa-shopping-cart"></i>
            Add to cart
            </button>
            <br>
            <%end%>
  </div>
</div>
</div>


<style>

.wrapper {
  display: flex;
  justify-content: space-between;
}

.main,
.sidebar {
  /*border: 3px solid black;*/
  padding: 15px;
  background-color: #fff;
}

.main {
  width: 60%;
}

.sidebar {
  width: 37%;
  height: 85vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

</style>

