
<div class="container-fluid">
<div class="row">
<div class="">
<div class="showimage" style="height:300px; width:300px;">
<%= cl_image_tag @product.photo %>
</div>
</div>
</div>

<div class="info">
 <div class="col-lg-4">
<h1><%= @product.title %></h1>
<p><%= @product.size %></p>
<p><b>Detalles del producto: </b><%= @product.description %></p>
<div class="sizecart">
      <%= form_tag product_items_path(product_id: @product.id) do %>
      <%= select_tag :size_id,
         options_for_select(
           sizes_for(@product.id)),
         prompt: "Talla"
         %>
      <br>
      <button class="btn btn-danger align-center">
      <i class="fa fa-shopping-cart"></i>
      Add to cart
      </button>
      <%end%>
    </div>
</div>


<div class="container modalish" style="margin-bottom:100px !important;">
   <div id="gallery">
      <div class="row">
         <div class="col-lg-4 photo">
            <% @product.photos.each do |photo| %>
            <a class="" data-image-id="" data-toggle="modal" data-title=""
               data-target="#image-gallery" style=" height: 200px; width: 98%;
               "> <%= cl_image_tag photo.photo %></a>
            </a>
         <% end %>
         </div>
      </div>
   </div>
</div>
</div>
</div>

<hr>

