<!DOCTYPE html>
<html>
  <head>
    <title>Rv10 Online</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <!--Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/color-red.css" rel="stylesheet" type="text/css" media="all"/>

    <script type="text/javascript" src="js/modernizr.min.js"></script>

  </head>

  <body>
<%= render "shared/header" %>
<%= render "shared/message" %>

  <%= yield %>

<%= render "shared/footer" %>

</div>
  </body>
</html>
