<!DOCTYPE html>
<html>
  <head>
    <title>Rv10</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('rv10ico.png') %>
  <meta property="og:title" content="Rv10, MADE IN BOLIVIA"/>
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.rv10.com.bo/" />
  <meta property="og:image" content="https://res.cloudinary.com/websy/image/upload/v1568169567/e6rt3pieqrkjboqqhsqg.png" />
  <meta property="og:site_name" content="Rv10"/>

  <script src="https://kit.fontawesome.com/0671cb6605.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148823751-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148823751-1');
  </script>


    <%= javascript_include_tag 'https://js.braintreegateway.com/js/braintree-2.32.1.min.js' %>
    <!--Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script async data-id="58277" src="https://cdn.widgetwhats.com/script.min.js"></script>


  </head>

  <body>
<%= render "shared/message" %>

  <%= yield %>

<%= render "shared/footer" %>

</div>
  </body>
</html>
